@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
    background: url(../images/bg.png) repeat;
    font: 100%/1.5em sans-serif;
    padding-left: 50px;
    padding-top: 50px;
    margin: 0;
}

